{namespace Cart}

/**
 * This renders the component's whole content.
 */
{template .render}
	{@param isOpen: bool}
	{@param isDisabled: bool}
	{@param localization: ?}
	{@param products: ?}
	{@param detailsUrl: string}
	{@param productsAmount: int}

	{@param summary: ?}
	{@param isLoading: ?}

	{@param handleSubmitQuantity: ?}
	{@param handleDeleteItem: ?}
	{@param handleCancelItemDeletion: ?}

	{let $openCartButtonModifiers kind="text"}
		{if $isDisabled}
			{sp}is-disabled
		{/if}
	{/let}

	{let $cartModifiers kind="text"}
		{if $isOpen}
			{sp}is-open
		{/if}
	{/let}

	<div>
		<a
			href="#"
			class="minium-topbar__button{$openCartButtonModifiers}"
			data-onclick="toggleCart"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="minium-icon">
				<rect fill="currentColor" x="5" y="5" width="90" height="90" rx="10" ry="10"></rect>
			</svg>
		</a>

		<div class="minium-cart{$cartModifiers}">
			<a
				href="#"
				class="minium-topbar__button minium-cart__close"
				data-onclick="toggleCart"
			>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="minium-icon">
					<rect fill="currentColor" x="5" y="5" width="90" height="90" rx="10" ry="10"></rect>
				</svg>
			</a>

			<div class="minium-cart__top">
				<div>
					<strong>{$productsAmount}</strong> {$localization.Products}
				</div>

				<a href="{$detailsUrl}" class="minium-link">{$localization.ViewDetails}</a>
			</div>

			<div class="minium-cart__content">
				{foreach $product in $products}
					{call CartProduct.render}

						{param events: [
							'submitQuantity' : $handleSubmitQuantity,
							'deleteItem' : $handleDeleteItem,
							'cancelItemDeletion' : $handleCancelItemDeletion,
						] /}

						{param id: $product.id /}
						{param name: $product.name /}
						{param price: $product.price /}
						{param sku: $product.sku /}
						{param quantity: $product.quantity /}
						{param thumbnail: $product.thumbnail /}
						{param settings: $product.settings /}
						{param error: $product.error /}

						{param isDeleting: $product.isDeleting /}
						{param isCollapsed: $product.isCollapsed /}
						{param isUpdating: $product.isUpdating /}
						{param isDeleteDisabled: $product.isDeleteDisabled /}

						{param localization: $localization /}
					{/call}
				{/foreach}
			</div>

			{call Summary.render}
				{param localization: $localization /}
				{param checkoutUrl: $summary.checkoutUrl /}
				{param subtotal: $summary.subtotal /}
				{param grandTotal: $summary.grandTotal /}
				{param discount: $summary.discount /}
				{param totalUnits: $summary.totalUnits /}
				{param productsNumber: $productsAmount /}
				{param isLoading: $isLoading /}
				{param dats: $summary /}
			{/call}

		</div>
	</div>
{/template}