.dataset-display {
    .table {
        td:first-child,
        th:first-child,
        .table-cell-start {
            padding-left: map-get($spacers, 3);
        }

        td:last-child,
        th:last-child,
        .table-cell-end {
            padding-right: map-get($spacers, 3);
        }
    }

    .table-responsive {
        margin-bottom: 0;
    }

    &-management-bar-wrapper > * {
        margin-bottom: 0;
    }

    &-pagination-wrapper {
        margin: map-get($spacers, 3) map-get($spacers, 3) 0;
    }

    &-stacked {
        .dataset-display-content-wrapper {
            border: 1px solid $border-color;
            margin-bottom: map-get($spacers, 3);
        }

        .dataset-display-management-bar-wrapper {
            border-color: $border-color;
            border-width: 1px 1px 0 1px;
            border-style: solid;
            margin-bottom: map-get($spacers, 3);
        }

        .dataset-display-pagination-wrapper {
            margin: map-get($spacers, 3) 0 0;
        }
    }

    &-fluid {
        .dataset-display-content-wrapper {
            border: 1px solid $border-color;
        }

        .dataset-display-pagination-wrapper {
            margin: map-get($spacers, 3) 0 0;
        }
    }
}