.dataset-display {
	.dataset-display-management-bar-wrapper {
		border-bottom: 1px solid $border-color;
	}

	.main-input-wrapper {
		position: relative;
	}

	.main-input-search {
		padding-right: map-get($spacers, 5) !important;
		width: 100%;
	}

	.main-input-reset-button {
		color: currentColor;
		height: 100%;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: map-get($spacers, 5);
	}

	.table {
		td:first-child,
		th:first-child,
		.table-cell-start {
			padding-left: map-get($spacers, 3);
		}

		td:last-child,
		th:last-child,
		.table-cell-end {
			padding-right: map-get($spacers, 3);
		}
	}

	.table-responsive {
		margin-bottom: 0;
	}

	&-fluid {
		.dataset-display-pagination-wrapper {
			margin: map-get($spacers, 3) 0 0;
		}
	}

	&-management-bar-wrapper > .management-bar {
		margin-bottom: 0;

		& + .management-bar {
			border-top: 1px solid #eee;
		}
	}

	&-pagination-wrapper {
		margin: map-get($spacers, 3) map-get($spacers, 3) 0;
	}

	&-stacked {
		.dataset-display-management-bar-wrapper {
			border: 1px solid $border-color;
			margin-bottom: map-get($spacers, 3);
		}

		.dataset-display-content-wrapper {
			margin-bottom: map-get($spacers, 3);
		}

		.dataset-display-pagination-wrapper {
			margin: map-get($spacers, 3) 0 0;
		}
	}
}

.tooltip-table {
	background: transparent;
	border: none;
	border-collapse: collapse;
	color: white;
	width: 100%;

	td {
		background-color: transparent !important;
		border-color: rgba(255, 255, 255, 0.1);
		padding-bottom: map-get($spacers, 1) !important;
		padding-top: map-get($spacers, 1) !important;

		&:first-child {
			padding-left: 0 !important;
		}

		&:last-child {
			padding-right: 0 !important;
		}
	}
}

.filter-resume {
	cursor: pointer;

	&.active {
		border-color: $primary-color;
	}

	&.disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&-content {
		display: flex;
	}
}

.filters-dropdown-button {
	padding: map-get($spacers, 2);
}
