.dataset-display .table {
	.has-dnd {
		.draggable-cell {
			border: 2px dashed #cdced9;
			border-radius: 4px;
			box-sizing: border-box;
			display: inline-block;
			padding: 15px;
			width: 100%;

			&.is-dragging {
				border: 2px solid #80acff;
			}

			&.is-over {
				background-color: #edf9f0;
				border: 2px dashed #5aca75;
			}
		}

		.draggable-row {
			background-color: #fff;

			td {
				box-sizing: border-box;
				opacity: 1;
				padding: $table-cell-padding;
				transition: padding 300ms ease-out;
			}

			td[draggable] {
				cursor: grab;
			}

			&.is-dragging {
				background-color: #f0f5ff;

				td {
					opacity: 0;
					padding-bottom: 2em;
					padding-top: 2em;
					transition: padding 100ms ease-in;
				}

				td[draggable] {
					cursor: grabbing;
				}
			}
		}

		tr:hover td {
			background-color: #fff;
		}
	}
}
