.dataset-display .table {
	.has-dnd {
		.draggable-cell {
			display: inline-block;
			width: 100%;
			padding: 15px;
			box-sizing: border-box;
			border-radius: 4px;
			border: 2px dashed #CDCED9;

			&.is-dragging {
				border: 2px solid #80ACFF;
			}

			&.is-over {
				border: 2px dashed #5ACA75;
				background-color: #EDF9F0;
			}
		}

		.draggable-row {
			background-color: $background-color;

			td {
				opacity: 1;
				box-sizing: border-box;
				padding: $table-cell-padding;
				transition: padding 300ms ease-out;
			}

			td[draggable] {
				cursor: grab;
			}

			&.is-dragging {
				background-color: #f0f5ff;

				td {
					opacity: 0;
					padding-top: 2em;
					padding-bottom: 2em;
					transition: padding 100ms ease-in;
				}

				td[draggable] {
					cursor: grabbing;
				}
			}
		}

		tr:hover td {
			background-color: #FFF;
		}
	}
}