.commerce-checkbox {
display: flex;

&__input {
	margin-right: 10px;
}

&__label {
	color: $color-fg-alt;
	font-weight: normal;
	margin-bottom: 0;
}

&--checked {
	.commerce-checkbox__label {
	 color: $color-fg
	}
}
}