.commerce-modal {
	&__header {
		display: flex;
		flex-shrink: 0;
		margin-bottom: 30px;
	}

	&__close {
		display: flex;
		margin-left: auto;
	}

	&__title {
		color: $color-fg;
		flex-grow: 1;
		font-size: 28px;
		font-weight: 100;
		margin-bottom: 0;
	}

	&__content {
		flex-grow: 1;
	}

	&__radio {
		&--with-margin {
			margin-bottom: 30px;
		}
	}

	&__label {
		color: #9D9E9E;
		display: block;
		font-size: 11px;
		font-weight: normal;
		letter-spacing: 1px;
		line-height: 1;
		margin-bottom: 5px;
		margin-left: 14px;
		text-transform: uppercase;
		white-space: nowrap;

		&--radio {
			display: inline-block;
			font-weight: bold;
			margin-left: 15px;
			text-transform: none;
			font-size: 14px;
		}
	}

	&__select {
		border: 2px solid $color-shadow;
		border-radius: 8px;
		color: $color-fg;
		margin-bottom: 15px;
		outline: none;
		width: 100%;
		background: transparent;
		min-height: 56px;
		height: 56px;
		
		&--with-margin {
			margin-bottom: 30px;
		}
	}

	&__input {
		border: 2px solid $color-shadow;
		border-radius: 8px;
		color: $color-fg;
		margin-bottom: 15px;
		outline: none;
		padding: 10px;
		width: 100%;
		min-height: 56px;
		
		&--with-margin {
			margin-bottom: 30px;
		}
	}

	&__actions {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
}