.commerce-dot-navigation {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
    &__dot {
        display: block;
        width: 15px;
        height: 15px;
        padding: 0;
        border: 2px solid $color-theme;
        background: transparent;
        transition: all .1s ease-in;
        margin-right: 16px;
        border-radius: 50%;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background: $color-theme;
        }
        
        &--disabled {
            border: 2px solid #9D9E9E;

            &:hover {
                background: transparent
            }
        }

        &--active {
            transform: scale(1.4);
            background: $color-theme;
            cursor: inherit;
        }
    }
}