.commerce-compare-table {
	width: 100%;
	line-height: 1.1;
	color: $color-fg;
    border-collapse: collapse;

	tbody td {
		padding: 15px;
		vertical-align: baseline;
		border-right: 2px solid #f8f8f9;

		&:last-child {
			border-right: none
		}
	}

	tbody tr {
		height: auto;
	}

	.commerce-compare-table__title {
		width: 150px;
	}

	tbody tr:not(.commerce-compare-table__separator) {
		overflow: hidden;
		background: white;
	}

	&__separator {
		font-weight: 800;
	}

	&__title {
		font-size: 12px;
		letter-spacing: 1.2px;
		line-height: 16px;
		text-transform: uppercase;
	}

	&__value {
		text-align: center;
		font-size: 14px;
		line-height: 32px;
		color: $color-fg-alt;
	}

	&.entry {
		&--4 td {
			width: 20%;
			&:first-of-type {
				width: 10%;
			}
		}
		&--3 td {
			width: 20%;
			&:first-of-type {
				width: 10%;
			}
		}
		&--2 td {
			width: 20%;
			&:first-of-type {
				width: 10%;
			}
		}
		&--1 td {
			width: 20%;
			&:first-of-type {
				width: 10%;
			}
		}
	}
}