.minium-loader {
	display: inline-block;
	position: relative;
	min-height: 8px;
	
	&__dots-wrapper {
		&--inverted {
			.minium-loader__dot {
				background: var(--light);
			}
		}
	}

	&__dot {
		display: inline-block;
		background: $color-fg;
		border-radius: 50%;
		height: 6px;
		margin: 2px;
		transform: scale(0.5);
		width: 6px;
		animation: scale-dot .8s ease-out infinite;
		
		&:nth-of-type(2) {
			animation-delay: 0.2s;
		}
		&:nth-of-type(3) {
			animation-delay: 0.3s;
		}
		&:nth-of-type(4) {
			animation-delay: 0.4s;
		}
		&:nth-of-type(5) {
			animation-delay: 0.5s;
		}
	}

}


@keyframes scale-dot {
	0% {
		transform: scale(0.5);
	}
	25% {
		transform: scale(1);
	}
	75% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(0.5);
	}
}