.table {
	background-color: transparent;
	border-collapse: initial;
	border-spacing: 0 5px;
	color: #5C5E5E;
	margin-top: -5px;

	th,
	th button {
		color: #9D9E9E;
		font-size: 11px;
		font-weight: normal;
		line-height: 1;
		text-transform: uppercase;
		white-space: nowrap;
	}

	tbody tr {
		height: 80px;
	}

	td a {
		color: currentColor;
		text-decoration: underline;
	}

	td img {
		height: 60px;
		object-fit: contain;
		width: 60px;
	}
}

.table tr {
	--translate-space: 340px;

	transition: all ease 400ms;

	html:not(.ie):not(.edge) &.is-active {
		transform: translateX(calc(-1 * var(--translate-space)));
	}
}

.table-list.table-hover tbody tr:hover td {
	background-color: #FFF;
}

.table th,
.table td {
	box-shadow: none !important;

	&:first-child {
		border-radius: 8px 0 0 8px;
	}

	&:last-child {
		border-radius: 0 8px 8px 0;
	}

	small {
		color: #9D9E9E;
		display: block;
		font-size: 11px;
	}
}

.cell {
	height: 100%;
	position: relative;
	white-space: nowrap;
}

.actions {
	align-items: center;
	background-color: #FAFAFA;
	border-radius: 8px;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	padding: 0 20px 0 30px;
	position: absolute;
	right: 0;
	top: 0;
	transition: all ease 400ms;
	white-space: nowrap;
	width: 340px;
	width: var(--actions-width, auto);
	z-index: -1;

	&__close {
		color: #9D9E9E;
		font-size: 21px;
		margin-right: 20px;
		opacity: 0.3;
	}

	&__link {
		color: #7F848D;
		font-size: 10px;
		text-decoration: underline;
		text-transform: uppercase;
	}

	&__buttons {
		margin: 0 $minium-gutter;
	}

	html:not(.ie):not(.edge) .table tr.is-active & {
		transform: translateX(var(--translate-space));
	}
}

.toggle {
	align-items: center;
	color: #9D9E9E;
	display: flex;
	font-size: 21px;
	justify-content: flex-end;
	opacity: 0.3;

	.table tr.is-active &__open,
	.table tr:not(.is-active) &__close {
		display: none;
	}
}

// html:not(.ie):not(.edge) .close {
// 	display: none;
// }

html.ie,
html.edge {
	.toggle-wrapper {
		align-items: center;
		display: flex;
		height: 100%;

		.actions {
			border-radius: 8px;
			bottom: 0;
			box-sizing: border-box;
			height: 100%;
			top: 0;
			transform: translateX(100%);
			transition: all ease 400ms;
			z-index: 1110;
		}
	}

	.table tr.is-active {
		.actions {
			transform: translateX(0);
		}
	}
}

.minium-table {
	&--mini {
		border-spacing: 0 2px;
}

td,
td:first-child,
td:last-child {
padding-bottom: 10px;
padding-top: 10px;
}
}

.table-responsive {
margin-bottom: 20px;
}