.minium-dropdown {
	position: relative;

	&.is-open::before {
		border: 10px solid transparent;
		border-bottom-color: $color-bg;
		border-top-width: 0;
		content: '';
		position: absolute;
		right: 24px;
		top: 100%;
		transition: max-height .2s ease-in, opacity .2s ease-in;
		z-index: 1160;
	}

	&__curtain {
		background-color: $color-bg;
		border-radius: 8px;
		box-shadow: $minium-shadow;
		display: none;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: calc(100% + 10px);
		width: 450px;
		z-index: 1160;

		&.is-open {
			display: block;
		}
	}
}