@mixin card-title {
background-color: $color-bg;
border-radius: 8px;
font-size: 12px;
font-weight: 500;
letter-spacing: 1.2px;
line-height: 16px;
margin-bottom: 5px;
padding: 12px 30px;
text-transform: uppercase;
}

@mixin card-content {
@include content-text;

background-color: $color-bg;
border-radius: 8px;

// min-height: 70px;

padding: 10px 25px;
}

.minium-card {
color: $color-fg;
margin-bottom: $minium-big-gutter;

&__title {
@include card-title;
}

&__content {
@include card-content;

& + & {
margin-top: 5px;
}
}

&__tabs {
background-color: $color-bg;
border-radius: 8px;
height: $frame-size;

.nav {
height: 100%;
}
}

.specification-list {
display: grid;
grid-gap: 0 20px;
grid-template-columns: auto 1fr;

.specification-desc {
margin-bottom: 0;
.lexicon-icon-shortcut {
display: none;
}
}
}
}