.minium-suggestions {
	background: $color-bg-medium;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	overflow: auto;

	&__wrapper {
		overflow: auto;
		padding: 20px 0;
	}

	&__label {
		font-size: 12px;
		padding: 10px 20px;
	}

	&__item {
		align-items: center;
		display: flex;
		font-size: 16px;
		justify-content: flex-start;
		min-height: 70px;
		padding: 10px 20px;
		position: relative;

		&:hover {
			background-color: $color-bg;
		}
	}

	&__hints {
		align-items: center;
		background-color: $color-bg-alt;
		color: $color-fg-alt;
		display: flex;
		flex: 0 0 40px;
		font-size: 14px;
		padding: 0 20px;

		svg {
			font-size: 21px;
			margin-right: 10px;

			&:not(:first-of-type) {
				margin-left: 30px;
			}
		}
	}
}