.commerce-modal {
&__header {
	display: flex;
	flex-shrink: 0;
	margin-bottom: 20px;
}

&__close {
	display: flex;
	margin-left: auto;
}

&__title {
	color: $color-fg;
	flex-grow: 1;
	font-weight: 100;
	margin-bottom: 0;
}
}