.user-invitation {
	display: flex;
	flex-direction: column;
	height: 525px;

	&__input {
		flex-shrink: 0;
	}

	&__list {
		flex-grow: 1;
		margin-top: 40px;
		overflow: auto;
	}

	&__invite {
		margin-top: 40px;
		text-align: center;
	}
}

.autocomplete-input {
	border: 2px solid $color-shadow;
	border-radius: 10px;
	color: $color-fg;
	display: grid;
	grid-template-columns: 30px auto;
	overflow: hidden;
	padding: 10px;
	width: 100%;

	form {
		display: inline;
		flex-grow: 1;
	}

	input:focus {
		outline: none;
	}

	&__icon {
		align-self: start;
		text-align: center;
	}

	&__wrapper {
		overflow: auto;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -3px;
		max-height: 90px;
		overflow: auto;
	}

	&__box {
		background: transparent;
		border: none;
		margin-bottom: 4px;
		margin-left: 15px;
		width: calc(100% - 18px);
	}

	&__delete {
		display: inline-block;
		margin-left: 10px;
	}
}

.added-input-item {
	background: $color-disabled;
	border-radius: 18px;
	display: inline-block;
	margin-bottom: 3px;
	margin-left: 10px;
	padding: 0 2px 0 4px;

	&__thumbnail {
		border-radius: 50%;
		display: inline-block;
		height: 18px;
		line-height: 0;
		margin: 4px 4px 4px 0;
		overflow: hidden;
		vertical-align: middle;
		width: 18px;

		img {
			height: auto;
			max-width: 100%;
		}
	}

	&__text {
		margin-left: 4px
	}
}

.user-item {
	display: grid;
	grid-template-columns: auto min-content;
	grid-template-rows: 50px;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	&__content {
		align-self: center;
		display: grid;
		grid-template-areas: "thumbnail primary-text" "thumbnail secondary-text";
		grid-template-columns: auto 1fr;
	}

	&__thumbnail {
		border-radius: 50%;
		grid-area: thumbnail;
		height: 50px;
		margin-right: 20px;
		overflow: hidden;
		width: 50px;

		img {
			height: 100%;
			width: 100%;
		}
	}

	&__primary-text {
		align-self: end;
		color: $color-fg;
		display: block;
		grid-area: primary-text;
		line-height: 1.1;
	}

	&__secondary-text {
		color: $color-fg-alt;
		display: block;
		font-size: 12px;
		grid-area: secondary-text;
		letter-spacing: 1.1px;
	}

	&__action {
		justify-self: flex-end;
		margin-left: 20px;
		padding: 0;
	}
}