$color-fg: #5C5E5E;
$color-fg-alt: #7F848D;
$color-bg: #FFF;
$color-bg-medium: #FCFCFC;
$color-bg-alt: #F7F7F8;
$color-bg-dark: #34373E;
$color-border: #ECEEF1;
$color-shadow: rgba(92, 94, 94, 0.14);
$color-disabled: #C9DAFF;

$color-theme: #4C84FF;
$color-theme-transparent: rgba(76, 132, 255, 0.067);

$color-modal-mask: rgba(52,55,62,0.6);

$color-mood-good: #4BC286;
$color-mood-neutral: #FEE4B8;
$color-mood-bad: #EC676A;
$color-bg-mood-bad: #FEF7F7;

$minium-shadow: 0 10px 20px $color-shadow;
$minium-shadow-focus: 0 3px 20px 0 rgba($color-theme, .5);
$minium-small-gutter: 10px;
$minium-gutter: 20px;
$minium-big-gutter: 40px;

$liferay-topbar-size: 56px;
$frame-size: 70px;
$sidebar-width: 300px;
$content-max-width: 1440px;

$transition: ease 200ms;
$micro-transition: ease 100ms;