@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

$color-fg: #5C5E5E;
$color-fg-alt: #7F848D;
$color-bg: #FFF;
$color-bg-medium: #FCFCFC;
$color-bg-alt: #F7F7F8;
$color-bg-dark: #34373E;
$color-border: #ECEEF1;
$color-shadow: rgba(92, 94, 94, 0.14);
$color-disabled: #C9DAFF;

$color-theme: #4C84FF;
$color-theme-transparent: rgba(76, 132, 255, 0.067);

$color-modal-mask: rgba(52,55,62,0.6);

$color-mood-good: #78D89C;
$color-mood-neutral: #FEE4B8;
$color-mood-bad: #EC676A;
$color-bg-mood-bad: #FEF7F7;

$minium-shadow: 0 10px 20px $color-shadow;
$minium-small-gutter: 10px;
$minium-gutter: 20px;
$minium-big-gutter: 40px;

$liferay-topbar-size: 56px;
$frame-size: 70px;
$sidebar-width: 300px;
$content-max-width: 1440px;

$transition: ease 200ms;
$micro-transition: ease 100ms;

@import "./components/account-list.scss";
@import "./components/account-selector.scss";
@import "./components/account-switcher.scss";
@import "./components/add-to-cart-button.scss";
@import "./components/add-to-tick.scss";
@import "./components/details-header.scss";
@import "./components/loaders.scss";
@import "./components/main-link.scss";
@import "./components/main-navigation.scss";
@import "./components/minium-button.scss";
@import "./components/minium-card.scss";
@import "./components/minium-cart.scss";
@import "./components/minium-content.scss";
@import "./components/minium-dot.scss";
@import "./components/minium-dropdown.scss";
@import "./components/minium-frame.scss";
@import "./components/minium-icon.scss";
@import "./components/minium-item.scss";
@import "./components/minium-link.scss";
@import "./components/minium-logo.scss";
@import "./components/minium-product-gallery.scss";
@import "./components/minium-product-header.scss";
@import "./components/minium-search.scss";
@import "./components/minium-sidebar.scss";
@import "./components/minium-suggestions.scss";
@import "./components/minium-table.scss";
@import "./components/minium-tabs.scss";
@import "./components/minium-toast.scss";
@import "./components/minium-topbar.scss";
@import "./components/minium-typo.scss";
@import "./components/modal.scss";
@import "./components/notification-badge.scss";
@import "./components/price.scss";
@import "./components/product-card.scss";
@import "./components/product-detail.scss";
@import "./components/product-details-modal.scss";
@import "./components/product-gallery.scss";
@import "./components/quantity-selector.scss";
@import "./components/small-table.scss";
@import "./components/user-invitation.scss";
@import "./components/user-nav.scss";

#minium {
	font-family: 'Roboto', sans-serif;

	button{
		&:focus {
			outline: none;
		}
	}

	.modal-content {
		border: none;
		box-shadow: 0 17px 84px 0 rgba(52, 55, 62, 0.2);
	}

	.modal-body {
		padding: 20px;
	}
}

.modal-backdrop {
	background-color: rgb(52, 55, 62);

	&.show {
		opacity: .6;
	}
}

button {
	background: none;
	border: none;
}

svg {
	vertical-align: middle
}

.u-tar {
	text-align: right;
}

.u-tac {
	text-align: center;
}

.u-hoverable {
	@media (hover: hover) {
		&::before {
			background-color: $color-theme;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			transition: opacity $micro-transition;
			width: 2px;
		}

		&.is-not-valid::before {
			background-color: $color-mood-bad;
		}

		&:not(:hover)::before {
			opacity: 0;
		}
	}
}

.portlet {
	margin: 0;
}

.portlet-boundary + .portlet-boundary {
	margin-top: $minium-big-gutter;
}

.portlet:not(:hover):not(.open) .portlet-topper-toolbar-wrapper {
	display: none;
}

.portlet:not(:hover) .portlet-topper {
	transition: none;
}

@media only screen and (min-width: 768px) {
	.portlet.open > .portlet-topper,
	.portlet:hover > .portlet-topper,
	.portlet.focus > .portlet-topper {
		align-items: center;
		background: #B0CBFF;
		border: 0;
		border-radius: 0 0 8px 8px;
		display: flex;
		height: 25px;
		justify-content: center;
		left: calc(50% - 40px);
		opacity: 1;
		padding: 0;
		transform: none;
		transition: none;
		width: 80px;
		z-index: 10;
	}
}

.portlet-boundary:not(.portlet-draggable) .portlet-topper {
	display: none;
}

@media only screen and (min-width: 768px) {
	.portlet.open > .portlet-content-editable,
	.portlet:hover > .portlet-content-editable,
	.portlet.focus > .portlet-content-editable {
		border-color: #B0CBFF;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
}

.portlet-content-editable {
	border-radius: 8px;
	min-height: 52px;
}

.portlet-title-default {
	display: none;
}

.portlet-topper-toolbar-wrapper {
	background: #0B5FFF;
	border-radius: 21px;
	bottom: 5px;
	color: white;
	display: flex;
	fill: white;
	margin: 0;
	padding: 5px;
	position: absolute;
	right: 5px;
	z-index: 10;
}

.portlet-topper-toolbar > a,
.portlet-topper-toolbar > span > a,
.portlet-topper-toolbar .lfr-icon-menu > a {
	color: white;
}

.d-table-head-group {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit
}

.d-table-row-group {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit
}