.minium-button.minium-button {
  --button-color: var(--color-theme);

  align-items: center;
  background-color: var(--button-bg, var(--button-color));
  border: 2px solid var(--button-color);
  border-radius: 8px;
  color: var(--button-fg, var(--color-bg));
  display: inline-flex;
  font-size: 10px;
  font-weight: 900;
  height: 54px;
  justify-content: center;
  letter-spacing: 1px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  & + & {
    margin-left: var(--minium-gutter);
  }

  &--good {
    --button-color: var(--color-mood-good);
  }

  &--bad {
    --button-color: var(--color-mood-bad);
  }

  &--neutral {
    --button-color: var(--color-mood-neutral);
  }

  &--outline {
    // background-color: var(--color-bg);
    // color: var(--button-color);
    --button-bg: var(--color-bg);
    --button-fg: var(--button-color);
  }

  &--block {
    display: flex;
    border-radius: 0;
  }

  &--small {
    height: 44px;

    & + & {
      margin-left: var(--minium-small-gutter);
    }
  }

  &--big {
    font-size: 12px;
    height: 64px;
    min-width: 170px;
  }
}