@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

@import "./components/account-list.scss";
@import "./components/account-selector.scss";
@import "./components/account-switcher.scss";
@import "./components/main-link.scss";
@import "./components/main-navigation.scss";
@import "./components/minium-button.scss";
@import "./components/minium-content.scss";
@import "./components/minium-dropdown.scss";
@import "./components/minium-cart.scss";
@import "./components/minium-dot.scss";
@import "./components/minium-frame.scss";
@import "./components/minium-icon.scss";
@import "./components/minium-item.scss";
@import "./components/minium-link.scss";
@import "./components/minium-logo.scss";
@import "./components/minium-modal.scss";
@import "./components/minium-search.scss";
@import "./components/minium-sidebar.scss";
@import "./components/minium-suggestions.scss";
@import "./components/minium-tabs.scss";
@import "./components/minium-toast.scss";
@import "./components/minium-topbar.scss";
@import "./components/notification-badge.scss";
@import "./components/quantity-selector.scss";
@import "./components/small-table.scss";
@import "./components/user-nav.scss";

#minium {
  --color-fg: #5c5e5e;
  --color-fg-alt: #7f848d;
  --color-bg: #fff;
  --color-bg-medium: #fcfcfc;
  --color-bg-alt: #f7f7f8;
  --color-bg-dark: #34373e;
  --color-border: #eceef1;
  --color-shadow: #5c5e5e23;

  --color-theme: #4c84ff;
  --color-theme-transparent: #4c84ff11;

  --color-modal-mask: rgba(52,55,62,0.6);

  --color-mood-good: #78d89c;
  --color-mood-neutral: #fee4b8;
  --color-mood-bad: #ec676a;
  
  --minium-shadow: 0 10px 20px var(--color-shadow);
  
  --frame-size: 70px;
  --sidebar-width: 300px;
  --content-max-width: 1440px;
  --minium-small-gutter: 10px;
  --minium-gutter: 20px;
  --minium-big-gutter: 40px;
  
  --transition: ease 200ms;
  --micro-transition: ease 100ms;

  font-family: 'Roboto', sans-serif;
}

.u-tar {
  text-align: right;
}

.u-tac {
  text-align: center;
}

.u-hoverable {
  @media (hover: hover) {
    &::before {
      background-color: var(--color-theme);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: opacity var(--micro-transition);
      width: 2px;
    }

    &:not(:hover)::before {
      opacity: 0;
    }
  }
}



.table {
  border-spacing: 0 5px;
  border-collapse: initial;
  background-color: transparent;
  color: #5C5E5E;

  th,
  th button {
    color: #9D9E9E;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
  }

  tbody tr {
    height: 80px;
  }

  td a {
    color: currentColor;
    text-decoration: underline;
  }

  td img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
}

.table tr {
  --translate-space: 340px;

  transition: all ease 400ms;

  html:not(.ie):not(.edge) &.is-active {
  // &.is-active {
    transform: translateX(calc(-1 * var(--translate-space)));
  }
}

.table-list.table-hover tbody tr:hover td {
  background-color: #fff;
}

.table th,
.table td {
  box-shadow: none !important;
  
  &:first-child {
    border-radius: 8px 0 0 8px;
  }
  
  &:last-child {
    border-radius: 0 8px 8px 0;
  }

  small {
    display: block;
    color: #9D9E9E;
    font-size: 11px;
  }
}

.cell {
  // background: #fff;
  position: relative;
  // padding: 10px;
  white-space: nowrap;
  // height: 64px;
  height: 100%;
}

.actions {
  align-items: center;
  background-color: #fafafa;
  border-radius: 8px;
  display: flex;
  bottom: 0;
  justify-content: flex-end;
  padding: 0 20px 0 30px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all ease 400ms;
  z-index: -1;
  white-space: nowrap;
  width: 340px;
  width: var(--actions-width, auto);

  &__close {
    color: #9D9E9E;
    font-size: 21px;
    opacity: 0.3;
    margin-right: 20px;
  }

  &__link {
    color: #7F848D;
    font-size: 10px;
    text-decoration: underline;
    text-transform: uppercase;
  }

  &__buttons {
    margin: 0 var(--minium-gutter);
  }

  html:not(.ie):not(.edge) .table tr.is-active & {
  // .table tr.is-active & {
    transform: translateX(var(--translate-space));
  }
}

.toggle {
  align-items: center;
  color: #9D9E9E;
  display: flex;
  font-size: 21px;
  justify-content: flex-end;
  opacity: 0.3;

  .table tr.is-active &__open,
  .table tr:not(.is-active) &__close {
    display: none;
  }
}

html:not(.ie):not(.edge) .close {
// .close {
  display: none;
}

html.ie,
html.edge {

  .toggle-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    
    .actions {
      transition: all ease 400ms;
      height: 100%;
      box-sizing: border-box;
      border-radius: 8px;
      top: 0;
      bottom: 0;
      z-index: 10;
      transform: translateX(100%);
    }
  }

  .table tr.is-active {
    .actions {
      transform: translateX(0);
    }
  }
}
