// .minium-topbar__button:focus {
//   .account-selector__image,
//   .account-selector__info {
//     display: none;
//   }
// }

// .main-navigation {
//   &__submenu {
//     .minium-sidebar:not(:hover) &,
//     .main-link:not(:focus) + & {
//       display: none;
//     }
//   }
// }

// a:focus + .minium-cart {
//   & {
//     &:not(.is-open) {
//       box-shadow: -20px 0 40px var(--color-shadow);
//       transform: translateX(0);
//     }
//   }
// }

.account-switcher:focus-within {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.account-switcher:focus-within + .account-switcher {
  display: flex;
}