$c: '.audience-report-chart';
$donut: '#{$c}-donut';

#{$c} {
	.title a {
		color: $secondary;
	}
}

#{$donut} {
	position: relative;

	&-legend {
		display: table;
		font-size: 1rem;
		margin: 0 auto;
		padding: 0;
	}

	&-empty {
		.total {
			@include emptyDonut(234px);
			align-items: center;
			display: flex;
			justify-content: center;
			transform: translateY(10px);
		}
	}

	.bb-tooltip-container:after {
		@include tooltip-arrow-left;
	}

	.bb-tooltip-container {
		border-width: 0;
	}

	.bb-chart-arcs {
		text {
			font-size: $font-size-md;
		}

		.bb-chart-arc text {
			fill: $main;
			font-size: $font-size-sm;
			font-weight: $fontWeightSemiBold;
		}
	}

	.total {
		align-items: center;
		display: flex;
		justify-content: center;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 114px;
	}
}

.card-root #{$donut} .bb .bb-zoom-rect {
	opacity: 0 !important;
}