.code-snippet-root {
	.code-snippet-textarea {
		background-color: #393A4A;
		color: $mainLighten74;
		
		font-family: 'Source Code Pro', monospace;

		height: 208px;
		padding: 16px;
		resize: none;
	}

	.copy-button {
		position: absolute;
		right: 1em;
		top: 1em;
	}
}