.engagement-chart-list-root {
	.chart-legend {
		padding: 0 24px;
	}

	.engagement-chart-container {
		padding: 0 $listPadding;
	}

	.selected-point-info {
		color: $mainLighten28;
		padding: 0 $listPadding;

		> .button-root {
			font-size: $fontSizeSmall;
			margin-left: 8px;
			padding: 0;
		}

		h4 {
			line-height: 24px;
		}

		> .secondary-info {
			display: flex;
			font-size: $fontSizeSmall;
			line-height: 18px;
			margin-top: 4px;

			.changed-values {
				.net-change {
					&.decrease {
						color: $error;
					}

					&.increase {
						color: $success;
					}

					> b {
						margin-right: 4px;
					}
				}
			}

			.score {
				margin-right: 12px;

				> b {
					color: $main;
				}
			}
		}
	}
}

.engagement-chart-root {
	svg {
		.bb-xgrid-focus > line {
			stroke: $chartSeaGreen;
		}
	}
}
