.breakdown-empty {
	align-items: center;
	border: 1px solid $mainLighten74;
	border-radius: 4px;
	color: $mainLighten52;
	display: flex;
	font-size: $fontSizeLarge;
	font-weight: $fontWeightSemiBold;
	height: 194px;
	justify-content: center;
	margin: 0 16px 24px;
}
