.breakdown-empty {
	align-items: center;
	border: 1px solid $mainLighten74;
	border-radius: 4px;
	color: $mainLighten52;
	display: flex;
	font-size: $fontSizeLarge;
	font-weight: $fontWeightSemiBold;
	height: 194px;
	justify-content: center;
	margin: 0 16px 24px;
}

.breakdown-single-event {
	align-items: center;
	border: 1px solid $lightBackground;
	display: flex;
	height: 124px;
	justify-content: center;

	.single-event {
		border: 1px solid $lightBackground;
		padding-bottom: 36px;
		padding-top: 40px;
	}
}

.breakdown-table-root {
	margin: 0 16px 24px;

	.bar-comparison-root .table {
		margin-top: 20px;
		table-layout: fixed;
	
		td, th {
			border: none;
			padding: 0px 12px;
		}
	
		td {
			line-height: 1;
		}
	
		th {
			font-size: $font-size-sm-2x;
			font-weight: $fontWeightRegular;
			height: 21px;
			text-transform: uppercase;
		}
	
		tr:nth-child(even) td {
			padding-bottom: 8px;
		}
	
		.table-column-event-name, .table-column-event-name:first-child {
			padding-left: 0;
			text-align: right;
			width: 18%;
		}
	
		.table-column-event-total {
			width: 10%;
		}
	
		.breakdown-table-bar {
			align-items: center;
			background: unset;
			border-radius: unset;
			display: flex;
			height: 20px;
			justify-content: flex-start;
	
			.bar {
				border-radius: 0 4px 4px 0;
			}
			.dots {
				background-image: radial-gradient(
						circle,
						rgba(0, 0, 0, 0.2) 21%,
						transparent 21%
					),
					radial-gradient(
						circle,
						rgba(0, 0, 0, 0.2) 21%,
						transparent 21%
					);
				background-position: -4px -4px, 4px 4px;
				background-size: 16px 16px;
			}
	
			.info-wrapper {
				position: unset;
			}
		}
	}

	.percentage-column {
		list-style: none;
		margin-bottom: 0;
		margin-top: 40px;
		padding-bottom: 2px;
		text-align: right;

		li {
			align-items: center;
			display: flex;
			height: 20px;
			justify-content: flex-end;
			line-height: 1;
		}

		li:nth-child(even) {
			margin-bottom: 8px;
		}
	}

	.table-hover tbody tr:hover td,
	.table-hover tbody tr:hover th {
		background-color: $white;
		color: $secondary;
	}

	.table-responsive {
		margin-bottom: 0;
	}

	.table-root .table {
		color: $secondary;

		td, th {
			width: unset;
		}

		th {
			border-left-width: 0;
			border-right-width: 0;
			font-weight: $fontWeightRegular;
		}

		th:first-child {
			border-left-width: 1px;
		}

		th:last-child {
			border-right-width: 1px;
		}
	}
}