.form-root {
	.form-control:disabled {
		border-color: $lightBackground;
		color: $mainLighten52;
		cursor: not-allowed;
	}

	.form-control-label {
		font-size: $fontSizeSmall;

		> .content-container {
			margin: 0;
		}

		> span {
			margin-left: 4px;
		}

		&.required:after {
			color: $error;
			content: '*';
		}
	}
}