.liferay-data-source-old-root {
	.auth-form-root {
		.sheet-section {
			> div:first-of-type {
				margin-bottom: 16px;
			}

			.sheet-subtitle {
				margin-bottom: 16px;
			}
		}

		.form-actions {
			margin-top: 72px;
		}
	}
}
