.onboarding-modal-root {
	.connect-dxp {
		.description {
			font-size: 18px;
			font-weight: $fontWeightSemiBold;
			margin-bottom: 24px;
			text-align: center;
		}

		.dxp-to-analytics-container {
			margin-bottom: 44px;

			.arrows {
				color: $infoLighten28;

				&.connected {
					color: $successLighten25;
				}
			}

			.icon-root:not(:last-child) {
				margin-right: 40px;
			}
		}

		.input-group {
			max-width: 480px;

			.input-root {
				font-weight: $fontWeightSemiBold;
			}

			.input-root,
			.button-root {
				color: $mainLighten28;
			}
		}

		.modal-footer > div {
			.btn {
				&:not(:first-child) {
					margin-left: 0.25rem;
				}

				&:not(:last-child) {
					margin-right: 0.25rem;
				}
			}
		}

		.secondary-info,
		.secondary-info > .button-root {
			color: $mainLighten28;
			font-size: $fontSizeExtraSmall;
		}
	}

	.dxp-connection-type {
		.header {
			.title {
				color: $mainLighten8;
				font-size: $fontSizeExtraLarge;
				font-weight: $fontWeightBold;
				margin-top: 60px;
			}
		}

		.description {
			font-size: $fontSizeMedium;
			margin-bottom: 16px;

			.secondary-info {
				color: $mainLighten28;
				font-size: $fontSizeSmall;
				margin-top: 16px;
			}
		}

		.oauth-connection {
			background: $lightBackground;

			.skip-button {
				color: $mainLighten28;
			}
		}

		.title,
		.modal-body {
			margin-left: 24px;
			margin-right: 24px;
		}

		.token-connection {
			.connect-button-container {
				margin-bottom: 76px;
			}

			.benefits-requirements-container {
				.benefits {
					border-right: 1px solid $mainLighten74;

					.benefits-check {
						fill: $successLighten25;
						margin-right: 8px;
					}
				}

				.heading {
					color: $mainLighten8;
					font-size: $fontSizeMedium;
					font-weight: $fontWeightBold;
				}

				.item {
					color: $mainLighten8;
					font-size: $fontSizeMedium;
				}

				.requirements {
					padding-left: 60px;
				}

				ul {
					list-style: none;
					padding-left: 0;
				}
			}
		}
	}

	.invite-people {
		// TODO: LRAC-7427 Adjust SVGs with Linear Gradients
		.ac-invite {
			background-image: url('/o/osb-faro-web/dist/sprite.svg#ac-invite-usage');
			padding: 240px 244px 0px;
			width: 488px;
		}

		.add-emails {
			.input-group {
				margin-bottom: 4px;
				margin-top: 12px;
				width: 600px;
			}

			.secondary-info {
				color: $mainLighten28;
			}
		}
	}

	.modal-content {
		height: 628px;

		.btn.wide {
			padding-left: 48px;
			padding-right: 48px;
		}

		.header {
			margin: 24px 24px 0;
		}

		.modal-footer {
			padding-bottom: 24px;
		}

		.title {
			font-size: 40px;
			font-weight: bold;
		}
	}

	.ready-to-go {
		// TODO: LRAC-7427 Adjust SVGs with Linear Gradients
		.ac-ready-to-use {
			background-image: url('/o/osb-faro-web/dist/sprite.svg#ac-ready-to-use-usage');
			margin-bottom: 24px;
			padding: 267px 244px 0px;
			width: 516px;
		}
	}

	.ready-to-go,
	.welcome {
		.description {
			font-size: $fontSizeExtraLarge;
			max-width: 660px;
			text-align: center;
		}
	}

	.welcome {
		// TODO: LRAC-7427 Adjust SVGs with Linear Gradients
		.ac-setup {
			background-image: url('/o/osb-faro-web/dist/sprite.svg#analytics-onboarding-welcome-usage');
			margin: 20px 0 24px;
			padding: 302px 143px 0px;
		}

		.description {
			font-size: 24px;
			margin-top: 15px;
		}

		.title {
			font-size: 40px;
		}
	}

	.success-info {
		margin-top: 76px;

		.success-message {
			color: $success;
			font-size: 18px;
			font-weight: $fontWeightSemiBold;
			margin-left: 12px;
		}

		.icon-root {
			fill: $successLighten25;
		}
	}
}