.recommendation-step-card-root {
	.basic-settings-root,
	.interactions-root {
		margin: 0 120px;
	}

	.card-body {
		margin-top: 40px;
	}

	.card-footer {
		.next-button {
			margin-left: 12px;
		}
	}

	.interactions-root {
		.include-previous-period-help-icon {
			color: $mainLighten28;
			margin-left: 8px;
		}
	}

	.items-root {
		.matching-pages-modal-button {
			&:active,
			&:hover {
				text-decoration: underline;
			}
		}

		.new-rule-button {
			margin: 24px 0;
		}

		.metadata-tag-root,
		.rule-value {
			margin-left: 8px;
		}

		.rule {
			color: $mainLighten28;
		}

		.total-included-pages {
			font-weight: $fontWeightSemiBold;
			margin-left: 24px;
			margin-right: 112px;
		}
	}

	.secondary-info {
		color: $mainLighten28;
		font-weight: $fontWeightRegular;
	}

	.summary-root {
		.summary-value {
			font-weight: $fontWeightSemiBold;
			padding-left: 12px;
		}

		.title {
			margin-bottom: 12px;
		}
	}

	.title {
		font-size: $fontSizeMedium;
		font-weight: $fontWeightSemiBold;
	}
}