.sites-dashboard-root {
	.site-selector {
		align-items: center;
		display: flex;

		.sites-dropdown-root {
			margin-left: 12px;
		}
	}
}

.no-radius {
	border-radius: 0px;
}

.only-bottom-border {
	border-left: none;
	border-right: none;
	border-top: none;
}