$c-operating-system: '.analytics-operating-system-chart';
$c-web-browser: '.analytics-web-browser-chart';

$operating-system-bar-height: 80px;
$operating-system-bar-radius: 4px;
$operating-system-icon-font-size: 1.4rem;

$type-size: 100px;

#{$c-operating-system},
#{$c-web-browser} {
	height: 370px;
}

#{$c-web-browser} {
	.bb .bb-zoom-rect {
		opacity: 0 !important;
	}

	$donut-width: 60%;
	$empty-donut-width: 270px;

	#{$c-web-browser}-donut {
		width: calc(#{$donut-width} - 2rem);
	}

	#{$c-web-browser}-donut-empty {
		@include emptyDonut($empty-donut-width);
	}

	#{$c-web-browser}-legend {
		left: $donut-width;
		margin: auto;
		margin-top: -1rem;
		overflow: auto;
		padding: 0;
		position: absolute;
		width: calc(100% - #{$donut-width});
	}

	.bb-tooltip-container {
		max-width: none !important;
	}
}
