*    @marcellustavares
*.java    @marcellustavares @matthewkong
osb-faro-web/src/main/css/**/*    @fcodias @gabrielpramos @JhonattasFerreira @kienD @marcellustavares
osb-faro-web/src/main/js/**/*    @fcodias @gabrielpramos @JhonattasFerreira @kienD @marcellustavares
package-lock.json    @fcodias @gabrielpramos @JhonattasFerreira @kienD @marcellustavares
package.json    @fcodias @gabrielpramos @JhonattasFerreira @kienD @marcellustavares