.modal {
	left: $frame-size;
	top: 0;
	z-index: 1160;

	body.signed-in & {
		top: $liferay-topbar-size;
	}

	body.open & {
		left: 320px + $frame-size;
	}
}

.commerce-modal-wrapper {
	.lexicon-icon {
		height: 22px;
		width: 24px;
	}

	.modal {
		display: none;

		&.show .modal-dialog {
			transform: translate(0, -50%);
			top: 50%;
		}
	}
	
	.modal-dialog {
		max-width: 540px;
		position: relative;
		max-height: calc(100% - 50px);
		border-radius: 8px;
		overflow: auto;
		pointer-events: unset;
		margin: auto;
	}
}

.modal-backdrop {
	z-index: 1120;
}