$searchHeight: 70px;
$topBarHeight: 70px;

.modal {
left: $frame-size;
top: 140px;

.has-search & {
	top: $topBarHeight + $searchHeight;
}

	body.signed-in & {
		top: $liferay-topbar-size + $topBarHeight;
}

body.signed-in .has-search & {
	top: $liferay-topbar-size + $topBarHeight + $searchHeight;
}

body.open & {
	left: 320px + $frame-size;
}
}

.commerce-modal-wrapper {
    .lexicon-icon {
        height: 22px;
        width: 24px;

        path {
            fill: $color-fg-alt;
        }
    }
    

    .modal {
        display: none;
    }

    .modal-dialog {
        max-width: 540px;
        position: relative;
    }
}