{namespace Summary}

/**
 * This renders the component's whole content.
 */
{template .render}
    {@param localization: ?}
	{@param checkoutUrl: string}
	{@param subtotal: string}
	{@param grandTotal: string}
	{@param? discount: string}
	{@param totalUnits: int}
	{@param productsNumber: int}
    {@param? isLoading: bool}

    {let $submitModifiers kind="text"}
        {if $isLoading or $productsNumber == 0 }
            {sp}minium-button--disabled
        {/if}
    {/let}

    <div class="minium-cart__footer">
        <dl class="minium-cart__totals">
            <dt>{$localization.Units}</dt>
            <dd>{$totalUnits} {$localization.of} {$productsNumber} {$localization.Items}</dd>
            <dt>{$localization.Subtotal}</dt>
            <dd>
                {call Loader.render}
                    {param isUpdating: $isLoading /}
                    {param content kind="html"}{$subtotal}{/param}
                    {param direction: 'right' /}
                    {param inverted: true /}
                {/call}
            </dd>
            {if $discount}
                <dt>{$localization.Discount}</dt>
                <dd>{$discount}</dd>
            {/if}
            <dt>{$localization.GrandTotal}</dt>
            <dd>
                {call Loader.render}
                    {param isUpdating: $isLoading /}
                    {param content kind="html"}<big>{$grandTotal}</big>{/param}
                    {param direction: 'right' /}
                    {param inverted: true /}
                {/call}
            </dd>
        </dl>
        <a href="{$checkoutUrl}" class="minium-button minium-button--block{$submitModifiers}">{$localization.Submit}</a>
    </div>
{/template}




